<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <title>Epic Task</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">EpicTask</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">

            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img
                            alt="Tailwind CSS Navbar component"
                            th:src="${user.attributes.avatar_url}" />
                </div>
            </div>
            <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between" th:text="${user.attributes.email}"></a>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<a href="/task/form" class="btn btn-primary" th:text="#{task.new}"></a>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 place-items-center ">
    <div th:each="task : ${tasks}" class="card w-96 bg-base-300 card-md shadow-sm relative">
        <div th:if="${task.user}" class="avatar absolute top-4 right-4">
            <div class="w-12 rounded-full">
                <img th:src="${task.user.avatarUrl}" />
            </div>
        </div>
        <div class="badge badge-accent m-4" th:text="${task.score + ' pts'}"></div>

        <div class="card-body items-center">
            <h2 class="card-title" th:text="${task.title}"></h2>
            <p th:text="${task.description}"></p>
            <div class="radial-progress text-primary" th:style="${'--value:' + task.status}" aria-valuenow="70" role="progressbar" th:text="${task.status + '%'}"></div>
        </div>

        <div class="justify-end card-actions m-4">
            <form th:if="${task.user == null}" th:action="${'/task/pick/' + task.id}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-warning" title="pegar tarefa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-icon lucide-hand"><path d="M18 11V6a2 2 0 0 0-2-2a2 2 0 0 0-2 2"/><path d="M14 10V4a2 2 0 0 0-2-2a2 2 0 0 0-2 2v2"/><path d="M10 10.5V6a2 2 0 0 0-2-2a2 2 0 0 0-2 2v8"/><path d="M18 8a2 2 0 1 1 4 0v6a8 8 0 0 1-8 8h-2c-2.8 0-4.5-.86-5.99-2.34l-3.6-3.6a2 2 0 0 1 2.83-2.82L7 15"/></svg>
                </button>
            </form>
            <form th:if="${task.user != null && task.user.email == user.attributes.email}" th:action="${'/task/drop/' + task.id}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-warning" title="largar tarefa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-grab-icon lucide-hand-grab"><path d="M18 11.5V9a2 2 0 0 0-2-2a2 2 0 0 0-2 2v1.4"/><path d="M14 10V8a2 2 0 0 0-2-2a2 2 0 0 0-2 2v2"/><path d="M10 9.9V9a2 2 0 0 0-2-2a2 2 0 0 0-2 2v5"/><path d="M6 14a2 2 0 0 0-2-2a2 2 0 0 0-2 2"/><path d="M18 11a2 2 0 1 1 4 0v3a8 8 0 0 1-8 8h-4a8 8 0 0 1-8-8 2 2 0 1 1 4 0"/></svg>
                </button>
            </form>
            <form th:action="${'/task/dec/' + task.id}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-info" title="recuar status da tarefa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
                </button>
            </form>
            <form th:action="${'/task/inc/' + task.id}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-info" title="avançar status da tarefa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                </button>
            </form>
            <form th:action="${'/task/' + task.id}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-primary" th:text="#{delete}"></button>
            </form>
        </div>
    </div>
</main>


</body>
</html>