<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <title>Epic Task</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">EpicTask</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">

            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img
                            alt="Tailwind CSS Navbar component"
                            th:src="${user.attributes.avatar_url}" />
                </div>
            </div>
            <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between" th:text="${user.attributes.email}"></a>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<a href="/task/form" class="btn btn-primary" th:text="#{task.new}"></a>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 place-items-center ">
    <div th:each="task : ${tasks}" class="card w-96 bg-base-300 card-md shadow-sm">
        <div class="badge badge-accent m-4" th:text="${task.score + ' pts'}"></div>

        <div class="card-body items-center">
            <h2 class="card-title" th:text="${task.title}"></h2>
            <p th:text="${task.description}"></p>
            <div class="radial-progress text-primary" th:style="${'--value:' + task.status}" aria-valuenow="70" role="progressbar" th:text="${task.status + '%'}"></div>
        </div>

        <div class="justify-end card-actions m-4">
            <form th:action="${'/task/' + task.id}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-primary" th:text="#{delete}"></button>
            </form>
        </div>
    </div>
</main>


</body>
</html>